* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.sidebar {
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
}

.logo-title {
    color: white;
    font-weight: 600;
    position: relative;
    left: 65px;
}

.sidebar-wrapper {
    padding-bottom: 200px;
}

.sidebar_menu {
    margin: 20px 0;
    color: rgb(190, 190, 190);
   
}

.sidebar_logo img {
    max-width: 500px;
    width: 15%;
    top: 35px;
    left: 20px;
    position: relative;
}



.sidebar_menu a {
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar_menu svg {
    margin: 0 20px;
}

/*fazer hover aqui*/

.sidebar-menu-item {
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar-menu-componente {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white;
}

.sidebar-menu-item img {
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar-menu-item span {
    font-weight: 600;
    padding: 0 10px;
}

.sidebar-playlists {
    margin: 20px 10px;
    border-top: 1px solid rgb(50, 50, 50);
}

.sidebar-playlists a {
    margin: 10px 0px;
    font-size: 14px;
    line-height: 1px;
}

.main {
    width: calc(100% - 250px);
    background-color: rgb(30,30,30);
    height: 100%;
    
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}

.main-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}